<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Conselhos</title>
</head>
{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
<body>
    <div class="title2">Conselhos</div>

    <div class="cabeçalho1"></div>

    <div class="textoM">
        <h2>Líquido de Refrigeração: para que serve e quando substituir</h2><br>
        <p>Líquido de refrigeração, é um composto químico fundamental para manter o motor do seu veículo na temperatura ideal, e assegurar que funciona perfeitamente e durante mais tempo.</p>
        <p>Se o nível do líquido de refrigeração estiver abaixo da marcação do limite mínimo deve ser colocado a nível e verificar nos dias subsequentes se o mesmo se mantém inalterado. Em outro caso basta uma troca a cada 40.000 km ou de 2 em 2 anos.</p>
    </div>

    <div class="cabeçalho2"></div>

    <div class="textoM">
        <h2>Quando e onde carregar o ar condicionado auto?</h2><br>
        <p>Para assegurar o bom funcionamento de todo o sistema, manter a qualidade do ar no interior do veículo e viajar a uma temperatura agradável, deve carregar o ar condicionado auto de 2 em 2 anos ou 40.000 km</p>
        <p>A altura ideal para carregar o ar condicionado auto é a Primavera, desde que não tenha identificado nenhum sintoma que indique que o ar condicionado precisa de ser carregado com urgência.</p>
    </div>

    <div class="cabeçalho4"></div>

    <div class="textoM">
        <h2>Mudança de Óleo</h2><br>
        <p>Recomendamos mudar o óleo do seu carro uma vez por ano.</p>
        <p>No caso dos óleos sintéticos, deve mudar de óleo entre os 10.000 e os 20.000 quilómetros. Se já fez estes quilómetros, troque de óleo mesmo que não tenha passado um ano</p>
    </div>
    <div class="cabeçalho3"></div>

    <div class="textoM">
        <h2>9 coisas que deve verificar antes de viajar</h2><br>
        <p>Documentos<br>
        Kit de Segurança<br>
        Pressão e desgaste dos pneus<br>
        Nível do óleo do motor<br>
        Nível do líquido refrigerante<br>
        Luzes: máximos, médios e mínimos<br>
        Escovas do limpa pára-brisas & líquido de limpeza<br>
        Travões<br>
        Estado da Bateria</p>
    </div>
<br>
</body>
</html>
{% endblock %}