{% extends 'automecom/layout.html' %}
{% block main %}
<section class="form-container">
    <!-- Exibir mensagens de feedback -->
     {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-success toast">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" action="{% url 'automecom:editarmarc' post_id %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group">
                {{ form.nome.label_tag }}
                {{ form.nome }}
            </div>
            <div class="form-group">
                {{ form.apelido.label_tag }}
                {{ form.apelido }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                {{ form.data.label_tag }}
                {{ form.data }}
            </div>
            <div class="form-group">
                {{ form.hora.label_tag }}
                {{ form.hora }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                {{ form.servicos.label_tag }}
                {{ form.servicos }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.telefone.label_tag }}
                {{ form.telefone }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                {{ form.descricao.label_tag }}
                {{ form.descricao }}
            </div>
        </div>
           <div class="form-row">
            <div class="form-group">
                {{ form.estado.label_tag }}
                {{ form.estado }}
            </div>
               <div class="form-group">
                {{ form.orcamento.label_tag }}
                {{ form.orcamento }}
            </div>
            <div class="form-group">
                {{ form.observacoes.label_tag }}
                {{ form.observacoes }}
            </div>
        </div>

        <div class="form-actions">
            <a href="{% url 'automecom:marcacoes' %}" role="button" class="btn btn-cancel">Cancelar</a>

            <input type="submit" value="Gravar" class="btn btn-save">
            <a href="{% url 'automecom:apagarmarc' post_id %}" role="button" class="btn btn-delete">Apagar</a>
        </div>
    </form>
</section>
{% endblock %}