<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Regulamento da Garantia na Manutenção Auto</title>
</head>
{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
<body>
<div class="Serviços">
    <br>
    <div class="title">Regulamento da Garantia na<br> Manutenção Auto</div>

    <p>A Comissão Europeia publicou o Regulamento 461/2010, de 27 de Maio, que traz 2 grandes avanços na defesa do consumidor:</p>
    <ul>
    <li class="reg">Garante a <strong>livre escolha</strong> da oficina de reparação para a manutenção automóvel pelo consumidor, mesmo durante o período de garantia;<br>	&nbsp;</li>
    <li class="reg">Obriga os construtores automóveis a fornecer todas as <strong>informações das características técnicas</strong> dos veículos, bem como as peças necessárias para a sua reparação.</li>
    </ul>

    <br>
    <br>

    <h2 class="base">QUAIS SÃO AS VANTAGENS DO NOVO REGULAMENTO PARA AS OFICINAS MULTIMARCA?</h2>
    <p class="SMALL">
        <ul class="reg">
            <li><strong>Não se perde a garantia do veículo por se fazer a sua manutenção</strong> fora dos serviços oficiais da marca, desde que sejam respeitadas as operações preconizadas pela marca (construtor) no seu livro de revisões periódicas;<br>	&nbsp;</li>
            <li>A oficina independente pode e deve <strong>carimbar o livro das revisões periódicas do veículo</strong>, para que este fique coberto pela garantia do construtor, embora não tenha feito a revisão num concessionário da marca;<br>	&nbsp;</li>
            <li><strong>Não se perde a garantia do veículo por se fazerem reparações</strong>, fora das oficinas oficiais, não cobertas pela garantia (ex: faróis partidos, amolgadelas na chapa, etc.);<br>	&nbsp;</li>	<li>Todas as oficinas independentes ou concessionários de marca podem <strong>utilizar peças da marca do carro ou de outra marca</strong>, para qualquer tipo de reparação;<br>	&nbsp;</li>
            <li>As reparações por defeito de fabrico, nos veículos em garantia, serão feitas na <strong>oficina indicada pelo construtor do automóvel</strong>, seguindo-se assim o espírito do Regulamento que se baseia no mote "Quem paga, manda";<br>	&nbsp;</li>
            <li>O construtor deve <strong>responsabilizar-se pelas reparações cobertas pela garantia</strong> mesmo que o cliente tenha reparado e feito a manutenção periódica do veículo numa oficina independente, sempre que essa oficina tenha respeitado as especificações e operações definidas pelo construtor;<br>	&nbsp;</li>
            <li>O <strong>construtor do veículo apenas pode negar uma reclamação</strong> em garantia se for demonstrado que o problema está relacionado com um erro da oficina ou com a utilização de peças de fraca qualidade, tal como especificado na directriz nº 69 do novo Regulamento;<br>	&nbsp;</li>
            <li>O novo Regulamento garante o <strong>acesso à informação técnica necessária</strong> para realizar as operações de reparação e manutenção, quer às oficinas independentes, quer aos fabricantes de peças não oficiais. O objectivo é promover a concorrência entre as empresas reparadoras, tendo em conta que as operações de reparação e manutenção dos veículos representam, segundo a CE, 40% do custo total de possuir um veículo.&nbsp;</li>
        </ul>
    <br><p class="line-small"><small><strong>Fonte:</strong> Jornal das Oficinas&nbsp;</small></p>
</div>
</body>
</html>
{% endblock %}