{% extends 'automecom/layout.html' %}
{% load custom_tags %}

{% block main %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Obras</title>
    {% load static %}
</head>
<body>



<form method="get" action="" class="filter-form" style="width: 300px;">
    <label for="filtro" style="font-weight: bold;">Filtrar por data:</label>
    <select name="filtro" id="filtro" onchange="this.form.submit()" style="padding: 5px; margin: 10px 0;">
       <option value="-data" {% if ordenar_por == "-data" %}selected{% endif %}>Mais Recente</option>
            <option value="data" {% if ordenar_por == "data" %}selected{% endif %}>Mais Antiga</option>
    </select>
</form>


{% if messages %}
<div class="toast-container" style="position: fixed; top: 50px; right: 10px; z-index: 1055;">
    {% for message in messages %}
    <div class="toast-message" id="message-{{ forloop.counter }}" style="padding: 10px; margin-top: 20px; background-color: #FDF5E6; border: 1px solid #c3e6cb; border-radius: 5px; color: #000000	;">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Seleciona todas as mensagens
        const messages = document.querySelectorAll(".toast-message");

        messages.forEach((message) => {
            // Define um timeout para remover cada mensagem
            setTimeout(() => {
                message.style.transition = "opacity 1s";
                message.style.opacity = "0";
                setTimeout(() => message.remove(), 1000); // Remove o elemento após a transição
            }, 3000); // Tempo antes de desaparecer (3 segundos)
        });
    });
</script>


<section>



    {% if marcacoes %}
        {% for marcacao in marcacoes %}
            {% if marcacao.estado == "Terminada" %}
            <div class="Serv">
                <div>
                    <br>
                    {% if user|is_administrador %}
                        <p>Cliente: {{ marcacao.nome }} {{ marcacao.apelido }}</p>
                        <p>Veículo: {{ marcacao.veiculo }}</p>
                        {% for servico in marcacao.servicos.all %}
                            <p>Serviço(s): {{ servico.nome }}</p>
                        {% endfor %}
                        <p>Data: {{ marcacao.data }} / {{ marcacao.hora }}</p>
                        <p>Observações: {{ marcacao.observacoes }}</p>
                        <p>Estado: {{ marcacao.estado }}</p>
                        {% if marcacao.fatura %}
                            <p>Fatura: <a href="{{ marcacao.fatura.url }}" target="_blank">Ver Fatura</a></p>
                        {% else %}
                            <p>Nenhuma fatura associada a esta obra.</p>
                        {% endif %}
                    {% else %}
                        <p>Data da obra: {{ marcacao.data }}</p>
                        <p>Veículo: {{ marcacao.veiculo }}</p>
                        {% for servico in marcacao.servicos.all %}
                            <p>Serviço(s): {{ servico.nome }}</p>
                        {% endfor %}
                        <p>Observações: {{ marcacao.observacoes }}</p>
                        {% if marcacao.fatura %}
                            <p>Fatura: <a href="{{ marcacao.fatura.url }}" target="_blank">Ver Fatura</a></p>
                        {% else %}
                            <p>Nenhuma fatura associada a esta marcação.</p>
                        {% endif %}
                    {% endif %}
                    <br>
                </div>
            </div>
            {% if user|is_administrador %}
<a href="{% url 'automecom:editar_obra' marcacao.id %}" class="botao">Editar</a>
                <a href="{% url 'automecom:obras' %}" class="botao">Apagar</a>
            {% endif %}
            <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <p style="color:white; font-size:20px; padding:20px; padding-bottom:10px">Não existem obras associadas.</p>
    {% endif %}
</section>
</body>
</html>
{% endblock %}
