<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Política de Privacidade</title>
</head>
{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
<body>
<div class="Serviços">
    <div class="title">Política de Privacidade</div>

    <h2 class="base">Porquê esta política de privacidade?</h2>

    <p class="SMALL">A Auto Mecom, está empenhada em proteger a privacidade dos seus clientes e utilizadores no seu website e aplicações, bem como de seus produtos e serviços. Por isso, elaboramos esta Política de Privacidade para demonstrar nosso compromisso com a proteção dos dados pessoais, em conformidade com as leis aplicáveis.</p>
    <p class="SMALL">Esta Política de Privacidade tem como objetivo informar nossos clientes e utilizadores sobre as regras gerais de privacidade e tratamento de dados pessoais que coletamos e processamos, cumprindo rigorosamente as leis vigentes.</p>
    <p class="SMALL">A Auto Mecom segue as melhores práticas em segurança e proteção de dados pessoais, tendo implementado um programa rigoroso para garantir a segurança dos dados fornecidos e autorizados por todas as partes envolvidas com a empresa.</p>
    <p class="SMALL">Pedimos que leia esta Política de Privacidade com atenção, pois, ao acessar um de nossos websites ou fornecer seu consentimento por outros meios, você estará autorizando a coleta e uso de seus dados pessoais de acordo com as condições aqui estabelecidas.</p>
    </div>

    <div class="Serviços">

        <h2 class="base">O que abrange esta Política de Privacidade?</h2>

        <p class="SMALL">Esta Política de Privacidade aplica-se exclusivamente à recolha e tratamento de dados pessoais efetuados.</p>
        <p class="SMALL">No website da Auto Mecom poderá encontrar links de acesso a outros websites que são alheios. A disponibilização de tais links é efetuada de boa-fé, não podendo a Auto Mecom ser responsabilizada pela recolha e tratamento de dados pessoais efetuados nesses websites, nem ser responsabilizado pela exatidão, credibilidade e funcionalidades de websites pertencentes a terceiros.</p>
        <p class="SMALL">Assim, a disponibilização de links para outros websites alheios á Auto Mecom, não implica qualquer assunção de responsabilidade relativamente a tais websites, não lhes sendo, por conseguinte, aplicável a presente Política de Privacidade. A Auto Mecom considera conveniente a leitura das Políticas de Privacidade de todos os websites que visitar.</p>
    </div>
    <div class="Serviços">

        <h2 class="base">O que são dados pessoais?</h2>

        <p class="SMALL">São informação relativa a uma pessoa singular identificada ou identificável (“titular dos dados”). É considerada identificável uma pessoa singular que possa ser identificada, directa ou indirectamente, em especial por referência a um identificador, como por exemplo um nome ou um número de identificação.</p>
    </div>
    <div class="Serviços">

        <h2 class="base">Quais as finalidades do tratamento dos dados pessoais?</h2>

        <p class="SMALL">Em geral, os dados pessoais recolhidos destinam-se à gestão da relação contratual, à prestação dos serviços contratados, à adequação dos serviços às necessidades e interesses do Cliente, a ações de informação e marketing.</p>
        <p>Poderá no entanto disponibilizar-nos dados pessoais para outras finalidades, tais como para os efeitos do
            envio de reclamações e sugestões, difusão de informações institucionais do Grupo e/ou dar a conhecer
            campanhas, promoções, publicidade e notícias sobre os produtos e/ou serviços da Auto Mecom, bem como para
            a realização de estudos de mercado e inquéritos de avaliação.</p>
    </div>
    <div class="Serviços">

            <h2 class="base">Como pode ficar a conhecer quaisquer alterações à Política de Privacidade Auto Mecom? </h2>

            <p class="SMALL">A Auto Mecom reserva-se o direito de, a qualquer altura, proceder a reajustamentos ou alterações à presente Política de Privacidade, sempre no estrito cumprimento da Lei, sendo essas alterações devidamente publicitadas no website da Empresa Auto Mecom.</p>
    </div>
<br>
<br>
<br>
</body>
</html>
{% endblock %}