<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Mecom | Sobre</title>
</head>
{% extends 'automecom/layout.html' %}

{% block main %}
{% load static %}
<body>
<div class="cabeçalho7"></div>

    <div class="textoM">
        <h2>Auto Mecom</h2><br>
        <p>Fundada em 1994, por José Carlos, iniciou a sua atividade no concelho de Cascais,.</p>
        <p>Uma oficina multimarcas que se dedica a oferecer serviços de mecânica e colisão.</p>
    </div>

    <div class="cabeçalho10"></div>

    <div class="textoM">
        <h2>A Nossa Missão</h2><br>
        <p>Na Auto Mecom, a nossa missão é fornecer serviços de excelência, produtos de alta qualidade e soluções eficazes para todas as necessidades dos nossos clientes. Estamos comprometidos em oferecer um atendimento ao cliente exemplar e um ambiente onde todos se sintam bem-vindos. Acreditamos que a satisfação do cliente é a chave para o nosso sucesso contínuo.</p>
    </div>

    <div class="cabeçalho5"></div>

    <div class="textoM">
        <h2>Instalações</h2><br>
        <p>Uma oficina com uma área de mais de 700 metros quadrados, tem acompanhado a evolução do setor automobilístico ao longo do tempo.<br>Investimos continuamente em equipamentos de última geração para garantir que os nossos clientes beneficiem das melhores soluções possíveis</p><br>
    </div>

<div class="cabeçalho9"></div>

    <div class="textoM">
        <h2>Colaboradores</h2><br>
        <p>Contamos com uma equipa de mais de 7 dedicados profissionais e estabelecemos parcerias com diversas marcas e colaboradores renomados.</p>
    </div>
<div class="cabeçalho8"></div>
</body>
</html>
{% endblock %}